html {
    background: url(image/bg.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}

#entete {
    border-radius: 0px 0px 10px 10px;
    width: 1100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -16px;
    background-color: #E1DCDC;
    box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
}

#time{
    position: relative: ;
    float:right;
    margin-right: 15px;
    margin-top: -10px;
}

#contenu{
    border-radius: 20px;
    width: 1100px;
    min-height: 600px;
    background-color: #E1DCDC;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
	margin-bottom: 40px;
    box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
}
#avatar{
    position: relative;
    border-radius: 10px;
    width: :250px;
    height: 250px;
    margin-left:75px;
    margin-top: 8%;
    display:inline-block;
}

#infos{
    border-radius:10px;
    margin-top: 50px;
    margin-right: 10px;
    float: right;
    width: 575px;
    height: auto;
    background-color: #DBD7D7;
}
#donnees{
    margin-left: 10px;
    padding-top: 2px;
    font-family:cursive;
    font-size:24px;
}

#form-ajout{
    border-radius:10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
}

#nav {
    border-radius: 10px;
    width: auto;
    float: left;
    margin-bottom: auto;
    margin-left: 40px;
    padding: 0;
    list-style: none;
    background-color: #DBD7D7;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#nav li {
      float: left;
}

#nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #4C4D4D;
      border-right: 1px solid #ccc;
}
#nav li a:hover {
      color: #c00;
      background-color: #fff;
}
#bmodif{
    margin-top: 400px;
    margin-left: 300px;
    position: absolute;
}

.btn {
  position: relative;
  margin-top: 15%;
  display:inline-block;
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #808080);
  background-image: -moz-linear-gradient(top, #000000, #808080);
  background-image: -ms-linear-gradient(top, #000000, #808080);
  background-image: -o-linear-gradient(top, #000000, #808080);
  background-image: linear-gradient(to bottom, #000000, #808080);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #6b6b6b;
  background-image: -webkit-linear-gradient(top, #6b6b6b, #6b6b6b);
  background-image: -moz-linear-gradient(top, #6b6b6b, #6b6b6b);
  background-image: -ms-linear-gradient(top, #6b6b6b, #6b6b6b);
  background-image: -o-linear-gradient(top, #6b6b6b, #6b6b6b);
  background-image: linear-gradient(to bottom, #6b6b6b, #6b6b6b);
  text-decoration: none;
}

#banniere{
    border-radius:20px 20px 0px 0px;
    width: 1100px;
    height: 50px;
    background-color: #DBD7D7;
    font-size: 30px;
    text-shadow:1px 1px 2px gray;
    text-align: center;
    padding-top: 10px;
}
.connexion{
    background-color: antiquewhite;
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 10px;
    padding-left: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#succes{
    font-style: italic;
    color: green;
    text-align: center;
}
label{
    display: block;
    width: 160px;
    float: left;
    margin-top: 3px;
}

.bouton{
    position: relative;
    left: 45%;
}

.button{
    margin-left: 50%;
}
.deco{
    position: absolute;
    margin-top: 2%;
    margin-left: 30%;
    display:inline-block;

}

.logo_cnrs, .logo_ens, .logo_ecotron{
    height: 100px;
    width: 100px;
    margin-left: 7px;
}

input {
    margin-top: 2px;
}

.deco a {
    position: absolute;
    left:540px;
    top: -10px;
    display:block;
    width:100px;
    font-size: 10px;
    line-height:25px;
    text-align:center;
    vertical-align:middle;
    background:url(image/bouton-noir.png) no-repeat;
    color:white;
    text-decoration:none;
}

.deco a:hover {
    background:url(image/bouton-noir-2.png) no-repeat;
}

#ajout_element {
    width: 260px;
    margin-left: 30px;
}

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;
    padding-left:10px;
    padding-top: 15px;
}

#sddm li
{
    margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
    width: auto;
    height: 21px;
    text-align: left;
}

#sddm li a
{
    display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	background: #4D4F4E;
	color: #FFF;
    width: 100px;
    height: 21px;
	text-align: left;
	text-decoration: none}

#sddm li a:hover
{    background: black}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
    width: 120px;
    height: 21px;
    border: 1px solid white;

}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
        width: auto;
        height: 21px;
		white-space: nowrap;
		text-align: center;
		text-decoration: none;
		background: #EAEBD8;
		color: black;
		font: 11px arial;
    }

#sddm div a:hover
	{
        text-align: center;
        background: black;
		color: #FFF;
    }
body {
    height: auto;
}



.button1 {
    margin-left: 84%;
}

#erreur {
    font-style: italic;
    color: red;
    text-align: center;
}

table tbody tr:nth-child(odd) {
    background-color: floralwhite;
}

#ajout_admin {
    width: 200px;
}

#user {
    margin-left: 13%;
    margin-top: 10px;
}

#parcourir {
    position: absolute;
    margin-left: 75px;
}

#tableau {
    text-align: center;
}



#ajout-img {
    margin-left: 75px;
}

.log {
    position: relative;
    left: 33%;
}

select {
	width: 125px;
}

table {
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}

.footer {
    border-radius: 10px 10px 0px 0px;
    position:absolute;
    bottom:0px;
    margin-left: 6.5%;
	margin-bottom: auto;
	width: 1100px;
	height: 150px;
	background-color: #E1DCDC;
    box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
}




.equipement {
    position: relative;
    left:44%;
    margin-top: 9%;
    display:inline-block;
    font-size: 30px;
}

a.equipement { color:black; }
a.equipement:hover { color:firebrick;}

.document {
    position: relative;
    left:44%;
    margin-top: 18%;
    display:inline-block;
    font-size: 30px;
}

a.document { color:black; }
a.document:hover { color:firebrick;}





#inputCat {
	margin-left: 250px;
}

#Cat-Etiquette {
	width: auto;
}





#Cat_Etiquette {
	margin-left: 30%;
	margin-right: auto;
}

#trait {
	margin-left: -47%;
	width: 900px;
}





#acro_seul {
	margin-left: 3%;
	margin-right: auto;
	width: auto;
}

.trait {
	margin-left: -3.2%;
	margin-right: %;
	width: auto;
}

.submit {
	margin-left: 42.75%;
}

.submitA {
	margin-left: 20%;
}

.Etiquette_Equipement {
	margin-left: 2%;
	margin-right: 2%;
}


.Cat-Eti {
	margin-left: 2.3%;
}

.Cat-Eti2 {
	margin-left: 1.75%;
}

.categorie {
	margin-left: 2%;
}

.bonjour {
	margin-left: 12.5%;
	width: auto;
}

.text {
	margin-left: 39%;
	color: red;
}

.text2 {
	margin-left: 39%;
	color: green;
}
