html {
    background: url(image/bg.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
}

#entete {
    border-radius: 0px 0px 10px 10px;
    width: 1100px;
    height: 100px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -16px;
    background-color: #E1DCDC;
    box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
}

#time{
    position: relative: ;
    float:right;
    margin-right: 15px;
    margin-top: -10px;
}

#contenu{
    border-radius: 10px;
    width: 1115px;
    min-height: 600px;
    background-color: #E1DCDC;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
	margin-bottom: 40px;
    box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -moz-box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
}
#avatar{
    position: relative;
    border-radius: 10px;
    width: :250px;
    height: 250px;
    margin-left:75px;
    margin-top: 8%;
    display:inline-block;
}

#infos{
    position: relative;
    border-radius:10px;
    margin-top: 3%;
    margin-right: 3%;
    display:inline-block;
    float: right;
    width: 575px;
    height: auto;
    background-color: #DBD7D7;
}
#donnees{
    margin-left: 10px;
    padding-top: 2px;
    font-family:cursive;
    font-size:24px;
}

#form-ajout{
    border-radius:10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 800px;
    height: auto;
}

#nav {
    border-radius: 10px;
    width: auto;
    float: left;
    margin-bottom: auto;
    margin-left: 40px;
    padding: 0;
    list-style: none;
    background-color: #DBD7D7;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#nav li {
      float: left;
}

#nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #4C4D4D;
      border-right: 1px solid #ccc;
}
#nav li a:hover {
      color: #c00;
      background-color: #fff;
}
#bmodif{
    margin-top: 400px;
    margin-left: 300px;
    position: absolute;
}

.btn {
  position: relative;
  display:inline-block;
  top: 200px;
  left: 35%;
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #808080);
  background-image: -moz-linear-gradient(top, #000000, #808080);
  background-image: -ms-linear-gradient(top, #000000, #808080);
  background-image: -o-linear-gradient(top, #000000, #808080);
  background-image: linear-gradient(to bottom, #000000, #808080);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #6b6b6b;
  background-image: -webkit-linear-gradient(top, #6b6b6b, #6b6b6b);
  background-image: -moz-linear-gradient(top, #6b6b6b, #6b6b6b);
  background-image: -ms-linear-gradient(top, #6b6b6b, #6b6b6b);
  background-image: -o-linear-gradient(top, #6b6b6b, #6b6b6b);
  background-image: linear-gradient(to bottom, #6b6b6b, #6b6b6b);
  text-decoration: none;
}

#banniere{
    border-radius:20px 20px 0px 0px;
    width: 1115px;
    height: 50px;
    background-color: #DBD7D7;
    font-size: 30px;
    text-shadow:1px 1px 2px gray;
    text-align: center;
    padding-top: 10px;
}
.connexion{
    background-color: antiquewhite;
    width: 350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 10px;
    padding-left: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#succes{
    font-style: italic;
    color: green;
    text-align: center;
}
label{
    display: block;
    width: auto;
    float: left;
    margin-top: 3px;
}

.bouton{
    position: relative;
    left: 47%;
}

.button{
    margin-left: 50%;
}
.deco{
    position: absolute;
    margin-top: 32.5px;
    margin-left: 400px;
}

.logo_cnrs, .logo_ens, .logo_ecotron{
    height: 100px;
    width: 100px;
    margin-left: 7px;
}



.deco a {
    position: absolute;
    left:540px;
    top: -10px;
    display:block;
    width:100px;
    font-size: 10px;
    line-height:25px;
    text-align:center;
    vertical-align:middle;
    background:url(image/bouton-noir.png) no-repeat;
    color:white;
    text-decoration:none;
}

.deco a:hover {
    background:url(image/bouton-noir-2.png) no-repeat;
}

#ajout_element {
    width: 260px;
    margin-left: 30px;
}

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;
    padding-left:10px;
    padding-top: 15px;
}

#sddm li
{
    margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial;
    width: auto;
    height: 21px;
    text-align: left;
}

#sddm li a
{
    display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	background: #4D4F4E;
	color: #FFF;
    width: 100px;
    height: 21px;
	text-align: left;
	text-decoration: none}

#sddm li a:hover
{    background: black}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
    width: 120px;
    height: 21px;
    border: 1px solid white;

}

#sddm div a
{	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	height: 21px;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	background: #EAEBD8;
	color: black;
	font: 11px arial;
}

#sddm div a:hover
	{
        text-align: center;
        background: black;
		color: #FFF;
    }
body {
    height: auto;
}



.button1 {
    margin-left: 84%;
}

#erreur {
    font-style: italic;
    color: red;
    text-align: center;
}

table tbody tr:nth-child(odd) {
    background-color: floralwhite;
}

#ajout_admin {
    width: 200px;
}

#user {
    margin-left: 13%;
    margin-top: 10px;
}

#parcourir {
    position: absolute;
    margin-left: 75px;
}

#tableau {
    text-align: center;
}



#ajout-img {
    margin-left: 75px;
}

.log {
    position: relative;
    left: 33%;
}

select {
	width: 130px;
}



.footer {
    border-radius: 10px 10px 0px 0px;
    position:absolute;
    bottom:0px;
    margin-left: 6.5%;
	margin-bottom: auto;
	width: 1100px;
	height: 150px;
	background-color: #E1DCDC;
    box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(164, 162, 162, 0.75);
}

.equipement {
    position: relative;
    margin-top: 1%;
    display:inline-block;
    font-size: 30px;
}


a.equipement:hover { color:firebrick;}

.document {
    position: relative;
    margin-top: 9%;
    display:inline-block;
    font-size: 30px;
}

a.document { color:black; }
a.document:hover { color:firebrick;}

#inputCat {
	margin-left: 250px;
}

#Cat-Etiquette {
	width: auto;
}

#Cat_Etiquette {
	margin-left: 30%;
	margin-right: auto;
}

#trait {
	margin-left: -47%;
	width: 900px;
}

#acro_seul {
	margin-left: 16.5%;
	margin-right: auto;
	width: auto;
}

.trait {
	margin-left: -20%;
	margin-right: auto;
	width: auto;
}

.submit {
	margin-left: 38%;
}

.submitA {
	margin-left: 23.75%;
	margin-right: auto;
}

.Etiquette_Equipement {
	margin-left: 10%;
	margin-right: 10%;
    margin-top: 50px;
}


.Cat-Eti {
	margin-left: 2.3%;
}

.Cat-Eti2 {
	margin-left: 1.75%;
}

.categorie {
	margin-left: 2%;
}

.bonjour {
	margin-left: 12.5%;
	width: auto;
}

.text {
	font-style: italic;
	text-align: center;
	color: green;
}

.text2 {
	margin-left: 39%;
	color: green;
}

.doc {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background:-moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:-ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0',GradientType=0);
	background-color:#3d94f6;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.doc:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6));
	background:-moz-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-webkit-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-o-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:-ms-linear-gradient(top, #1e62d0 5%, #3d94f6 100%);
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6',GradientType=0);
	background-color:#1e62d0;
}
.doc:active {
	position:relative;
	top:1px;
}


#Acr-Etiquette {
	margin-left: 30%;
	margin-right: auto;
}

.submitB {
	margin-left: 36.5%;
	margin-right: auto;
}

.ajout_categorie {
    position: relative;
    left:44%;
    margin-top: 12%;
    display:inline-block;
    font-size: 30px;
}

.ajout_acronime {
    position: relative;
    left:44%;
    margin-top: 15%;
    display:inline-block;
    font-size: 30px;
    padding-bottom: 15px;
}

#search {
	width: 100px;
	margin-left: 15px;
}

.ajout-categorie {
    position: relative;
    margin-top: 12%;
    display:inline-block;
    font-size: 30px;
}

a.ajout-categorie { color:black; }
a.ajout-categorie:hover { color:firebrick;}

.ajout-acr {
    position: relative;
    margin-top: 15%;
    display:inline-block;
    font-size: 30px;
    padding-bottom: 20px;
}

a.ajout-acr { color:black; }
a.ajout-acr:hover { color:firebrick;}


.tab_categorie {
	position: absolute;
	left: 50px;
}



hr {
	width: auto;
	align: center;
	margin-left: 2%;
	margin-right: 2%
}



.tableau {
	position: relative;
	text-align: center;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 20px;
	margin-top: 20px;
}

#plateforme {
	width: auto;

}

.fiche-vie {
	-moz-box-shadow:inset 0px 0px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 0px 0px 0px #a4e271;
	box-shadow:inset 0px 0px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.fiche-vie:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.fiche-vie:active {
	position:relative;
	top:1px;
}

textarea{ resize:none;}


.bouton-ano {
    position: relative;
   	left: 150%;
	right: auto;
}
.tableau-vie {
	position: relative;
	text-align: center;
	left: 2%;
    margin-top: 30px;
    display:inline-block;
}





.autentification {
	width: 150px;
	margin-left: 15px;
}

#autentification {
	width: 125px;
	margin-left: 20px;
}

span {
	margin-left: 30px;
}

#searcha {
	width: 100px;
}

.tabCatAcr {
	margin-left: auto;
	margin-right: auto;
}



.anomalie {
	margin-left: 39%;
}

.calibration {
	margin-left: 20px;
}

.entretien {
	margin-left: 20px;
}



.Button {
	-moz-box-shadow:inset 0px 0px 50px 0px #a6827e;
	-webkit-box-shadow:inset 0px 0px 50px 0px #a6827e;
	box-shadow:inset 0px 0px 50px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:8px 26px;
	text-decoration:none;
	text-shadow:0px 0px 0px #4d3534;
}
.Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.Button:active {
	position:relative;
	top:1px;
}




.Reservation {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.Reservation:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.Reservation:active {
	position:relative;
	top:1px;
}

}

.delete {
	width: 10px;
	height: 10px;
}

.info_equipement {
	margin-left: 7%;
	margin-right: 7%;
    margin-top: 20px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 20px;
	min-height: 750px;
	background-color: #e7e7e7;
}

.QRCODE {
	position: absolute;
	margin-top: -635px;
	margin-left: 780px;
}

.docEqui {
	position: inherit;
	margin-top: -550px;
	margin-left: 600px;
}

#QRCode2 {
	position: absolute;
	margin-top: -150px;
	margin-left: 800px;
}

.equiDoc {
	position: inherit;
	margin-top: -150px;
	margin-left: 560px;
}

.updateButton {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.updateButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.updateButton:active {
	position:relative;
	top:1px;
}



.info_document {
	margin-left: 7%;
	margin-right: 7%;
    margin-top: 20px;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 20px;
	min-height: 300px;
	background-color: #e7e7e7;
}

.poubelle {
	background-image: url('image/poubelle1.png');
	display: block;
}
.poubelle:hover {
	background-image: url('images/poubelle2.png');
	display: block;
}



.modifier {
	background-image: url('image/modifier.png');
	display: block;
}

#Categorie_Etiquette {
	margin-left: 17%;
	margin-right: auto;
}

#Categorie-Etiquette {
	width: 400px;
}

.submitenvoie {
	margin-left: 35%
}

.add {
	background-image: url('image/add.png');
	display: block;
}

.choixQr {
	position: absolute;
	left: 700px;
	margin-top: 100px;
}

.choixQr2 {
	position: absolute;
	left: 750px;
	margin-top: 50px;
}
