html {
  margin:0;
  padding:0;
  background: url(image/bg.jpg) no-repeat center fixed;
  background-size: cover;
}

#contenu {
	width:600px;
	height:50px;
	background-color:#4A4646;
    text-align: center;
    border-width:20px;
	}
